.container {
  margin: 50px 5px;
  background-image: linear-gradient(
    to bottom right,
    rgb(219, 118, 87),
    rgba(170, 85, 106, 0.89)
  );
  border-style: solid;
  border-color: rgb(190, 83, 83);
  border-radius: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  padding: 30px 10px;
  max-width: 750px;
  margin: block;
}

h1 {
  text-align: center;
  font-weight: 800px;
  padding: 60px 10px 0px 10px;
  color: white;
  padding-left: 25px;
  text-transform: capitalize;
}

.time-and-date {
  text-align: center;
  font-size: 18px;
  padding-right: 20px;
  padding-bottom: 10px;
}

button {
  color: rgb(219, 118, 87);
  border: rgba(170, 85, 106, 0.89);
  background: white;
  border-radius: 7px;
  padding: 5px 10px;
  display: block;
  margin: 0;
  margin-left: 280px;
  margin-bottom: 70px;
}

button:hover {
  background: rgba(224, 95, 56, 0.897);
  color: white;
  transition-delay: 3ms;
  border: white;
}

input {
  text-align: center;
  margin-left: 263px;
  padding: 3px;
  margin-top: 30px;
}

.githublink {
  text-align: center;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  color: white;
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: italic;
}

icon {
  font-size: 30px;
}
